@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h3 {
  color: #02317c;
}

h4 {
  color: #b5ccf2;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #1e74ff;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #1e74ff;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://cdn.pixabay.com/photo/2017/11/03/20/11/mermaid-2915541_1280.jpg);
  height: 380px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_wrap {
  height: 300px;
  overflow: hidden;
}
