nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") NCYU Education
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 引言 INTRO
      li
       a(href="#section_about") 簡介 ABOUT
      li
       a(href="#section_video") 影片 VIDEO
      li
       a(href="https://rubybao.github.io/resume1126-1043555/" target="_blank") 作者 TUTOR
       
header.jumbotron
  .container
    h1 教育議題<br>七大議題 一 海洋教育
    hr
    h4 神秘海洋探索園地
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h1 何謂海洋教育? 
        .ul 
         h3
          li 以教育內涵的角度來看，教育的內涵包括認知、技能、情意三大面向，相對應於海洋，則構成了知海、親海、愛海三個主要面向。而關鍵的重點是，是「知海」(認知)並不必然會出現「親海」(行動)，「親海」也不必然能夠正確地「知海」:要從「知海」產生「親海」，關鍵點在於「愛海」，也就是對海洋的意向、情感、鑑賞等。在海洋教育的教學歷程中，教師將「海洋內涵」進一步透過課程設計與教學活動，規劃出認知、情意、行動等學習內容，以導引學生對所安排的學習內容進行理解、認知與詮釋。
          li 透過教育的方式，培養學生自身的海洋意識。

        
section#section_about
  .container
    .row
      .col-sm-12
        h2 海洋教育/Marine Education
        hr
      .col-sm-4
        .img_wrap
          img(src="https://cdn.pixabay.com/photo/2016/01/10/23/27/humpback-1132769_1280.jpg", alt="海洋、船與鯨")
          
        h3 海洋教育的意義
        p 海洋是生命的起源，是人類在地球上生存與發展的憑藉。時勢所趨，各國逐漸重視海洋議題，積極展開海域資源調查、擴展海洋活動範圍，建立守護海洋共識，並透過教育讓人民學習及認識海洋 <br> 而台灣四面環海，擁有多樣的海岸地形和生態環境，在文化歷史、地理位置或生態環境的角度，都可以看到海洋對於台灣發展的重要地位。因應海洋對於台灣的重要性、海洋教育遂成為我國中小課程之重大議題
        
      .col-sm-4
        .img_wrap
          img(src="https://cdn.pixabay.com/photo/2016/07/28/16/55/dolphin-1548448_1280.jpg", alt="child & dolphin")
        h3 海洋教育議題融入課程
        p 海洋教育並不是一個單一的領域學科，而是將其融入在各學習領域當中，透過課程的設計，將海洋教育的內容傳達給學生，以期提升學生之海洋意識，習得海洋議題之涵養及素養，與海共存。
       
        p 1.課程設計注意事項<br>A.課程設計應注意縱向銜接。B.課程設計應兼顧「親海、愛海、知海」理念，並強化體驗、省思與實踐，以涵養海洋通識素養。C.課程規劃、設計以融入國民中小學九年一貫課程相關學習領域為原則。D.學校得考量學校條件、社區特性、家長期望、學生需要等相關因素，結合全體教師及社區資源，發展具創新性、前瞻性與海洋特色的學校本位課程。
         p 2.教材編選注意事項<br>A.編寫教材時，應注意與後期中等教育課程的銜接，呼應中小學海洋基本知能，並注意教材內容應具時代性與前瞻性。B.教材編選應符合本議題課程目標，以周延與適切的材料，來幫助學生親近海洋、熱愛海洋與認識海洋。C.教材編選應以學生為本位，涵養學生的海洋意識和能力，並兼顧海洋休閒、海洋社會、海洋文化、海洋科學及海洋資源等五大主題軸。D.教材內容之文字、圖片、資料應力求生動活潑及淺顯易懂，避免使用過多的專業術語。F.教材編選應儘量與生活經驗及時事相結合，力求生動活潑，著重體驗與實踐，並配合學生生活背景，俾能學以致用。G.教材編選應顧及各個年齡的階梯遞進的螺旋關係，並可參酌其他領域及議題加以融合設計。H.可依照需求另編教師手冊，教師手冊應視需要列舉詳盡之活動手冊、參考文獻、視聽教材等資料，以協助教師進行教學。
      .col-sm-4
        .img_wrap
          img(src="http://public.hlc.edu.tw/psize_upload/C-228-201110071043440726-1.jpg", alt="海洋教育現場圖片")
        h3 海洋教育推廣實施要點
        p (一)訂定發展計畫：依教育部海洋教育政策白皮書，建構海洋教育發展重點及策略，並據以訂定發展計畫，逐年提出申請。<br>(二)建置推動機制：成立海洋教育推動小組，組織地方推動體系， 逐年建置海洋教育延續性發展內容，作為永續推動海洋教育之基礎。<br>(三))發展特色課程：整合地方海洋教育自然、社會、人力等相關資源，結合戶外教育，規劃海洋體驗課程及教材，協助國民中小學將 海洋元素融入校本課程。<br>(四)提升師生素養：協助教師組成海洋教育專業社群、創新海洋素養 教學、促進相互觀摩學習，以提升學生海洋素養。<br>(五)促進資源交流：鼓勵跨校、跨直轄市、縣（市）海洋教育資源交流，建立資源共享機制。<br>(六)充實網路平臺：定期維護及充實海洋教育網路平臺，建立海洋教育社群網絡，並促進學校師生運用網路平臺。 
section#section_video
  .container
    .row
      .col-sm-12
        h1 海洋教育影片/VIDEO
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/4oI1CDA-CxA', allowfullscreen='')
       
         
        
    
         
        
     
   
         
   
         
    
         
        